.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.report-wrapper {
  border: 1px dashed gray;
  padding: 2em;
  border-radius: 1em;
  margin-top: 2em;
}

.report-wrapper-title {
  width: min-content !important;
  margin-top: -2em !important;
  margin-bottom: 1em !important;
  background-Color: white !important;
  white-space: nowrap !important;
}

.comment-bubble {
  background-color: #eeeeee;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0em;
}

.btn-same-size {
  width: 200px;
  height: 50px;
}

.create-report-form {
  padding: 15px;
  border-radius: 5px;
  border: 3px solid #000000;
}


.create-report-label {
  font-weight: bold;  
  margin-bottom: 5px;
  margin-left: 1px;
  font-size: 1.1rem;
}   

.create-report-input {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}

.report-card {
  cursor: pointer;
  transition: all 0.3s ease;
}

.report-card:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transform: scale(1.02);
}

.report-card:hover .card-title {
  text-decoration: underline;
}

.table-container {
  max-height: 200px;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}

.fixed-header-table {
  width: 100%;
  border-collapse: collapse;
}

.fixed-header-table thead th {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
}

.fixed-header-table th, .fixed-header-table td {
  width: 150px;
}

.fixed-header-table tbody tr:first-child,
.fixed-header-table tbody tr:nth-child(2) {
  background-color: #f2f2f2;
}

.fixed-header-table tbody tr td {
  background-color: #ffffff; 
}

.field-column {
  width: 50%;
}
.value-column {
  width: 50%;
}

