.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.assignment-wrapper {
  border: 1px dashed gray;
  padding: 2em;
  border-radius: 1em;
  margin-top: 2em;
}

.assignment-wrapper-title {
  width: min-content !important;
  margin-top: -2em !important;
  margin-bottom: 1em !important;
  background-Color: white !important;
  white-space: nowrap !important;
}

.comment-bubble {
  background-color: #eeeeee;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0em;
}

.paper-container {
  position: relative;
  margin: 0 auto;
  width: 21cm; /* Ширина листа А4 */
  max-width: 100%; /* Максимальная ширина, чтобы соответствовать родительскому элементу */
  height: 29.7cm; /* Высота листа А4 */
  max-height: 100%; /* Максимальная высота, чтобы соответствовать родительскому элементу */
  padding: 1cm; /* Отступы, как у листа А4 */
  box-sizing: border-box; /* Чтобы padding не влиял на ширину и высоту */
  background-color: white; /* Цвет фона, как у листа А4 */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); /* Тень для эффекта окошка */
  overflow: auto; /* Прокрутка контента при превышении размеров листа А4 */
}

.page-number {
  position: absolute;
  top: 0.5cm;
  right: 1cm;
  font-size: 0.8em;
}

